---

---

<div class="flex flex-row gap-10 items-center justify-center">
  <p class="">Lavet med masser af hårdt arbejde af Sten Simons</p>
  <p class="">Copyright 2015 Sten Simons & forlaget Mellem Linjerne</p>
</div>
