---

---

<div class="bg-gray-100 p-10">
  <div class="max-w-7xl mx-auto md:flex flex-row gap-5 items-center justify-center">
    <p class="pb-4">Lavet med masser af hårdt arbejde af Sten Simons</p>
    <p class="pb-4">Copyright 2015 Sten Simons & forlaget Mellem Linjerne</p>
  </div>
</div>
